[2020-06-02 03:28] arpansac opened #2 "Update Readme (setup instructions)"
The setup instructions for development environment need to be completed. The user needs to copy the cookie from auther.

[2020-06-02 03:30] arpansac opened #3 "Update Readme :: Contribution Guidelines"
Need to include:
- Branch naming conventions (feature branch, fix branch, documentation branch)
- All the PR's should be directed towards 'development' branch
- Commudle features + Screenshots (preferably gifs)
- Explanation of the folder structure

[2020-06-02 03:52] arpansac opened #4 "Add Title and Og to every page"
We need to have custom Title and meta data for every page.
This requires the use of **Title** service and **Meta** service.

If you take this issue, post the following in the comments on this issue:
- Which pages don't have Title and/or Meta tags
- What would you add in the Title and Meta tags.

Once approved, add them to the code and create a PR!

[2020-06-02 06:25] arpansac opened #6 "Add interested members on event page"
Show the list of interested members on the event page

[2020-06-02 06:27] #6 closed, assigned to arpansac

[2020-06-02 11:27] arpansac opened #8 "Redesign agenda timetable"
Right now the timetable for an event looks good, supports multiple tracks and locations.

Example: https://commudle.com/communities/gdg-new-delhi/events/devfest-19

But still it looks cramped with all those internal scrolls in each of the sessions. There are 2 tasks associated with this issue:

- Suggest some good but very simple layouts of that section
- Once finalized, code it.

[2020-06-02 11:30] arpansac opened #9 "Embed google photos"
A lot of events which take place be it in physical or online space, take some captures and share it with members in a google photos album. We need to integrate with the API of google photos for each event.

- Add a card to the admin panel for events
- Add a card on the event page

[2020-06-02 11:37] arpansac opened #10 "Guide component"
Creating an event requires multiple steps. Though it's simple, but still requires to know the platform well. We'll need a page which shows the different steps to create the event beginning from event details, to forms, to agenda.

Try creating an event on your own and you'll understand!

[2020-06-02 11:40] arpansac opened #11 "Add attachments to chat"
Enable adding attachments to discussion-chat and discussion-qna component

[2020-06-02 11:44] arpansac opened #12 "Simple online events"
Think and make the feature for simple online events. Right now Commudle supports both online and offline events, but it takes a lot of details, including forms to set it up.

Let's to make a simple plug and play event feature (the current event setup would be the advanced version of it).

[2020-06-02 11:46] arpansac opened #13 "Profile page"
There is already a component which allows updating the profile when a user is filling a form for an event.

- Create an edit profile page using that component
- Create a profile page which is publicly visible

[2020-06-02 12:02] rachitjain1626 commented on #4
can i take it?

[2020-06-02 13:11] Ashwin-op commented on #8
### Idea 1
Instead of showing time every 5 minutes, can we do something like this (**Daily schedule part**)? Here, the first column can be the different topics on which events take place, and first row can be the time in intervals of one hour.

References:
![](https://cdn.dribbble.com/users/2019344/screenshots/6119842/02-a.png)
![](https://i.pinimg.com/originals/c7/24/bb/c724bb50c0ee94049d50c24dde

[2020-06-02 13:27] arpansac commented on #8
These are some really cool layouts.
So, the current layout has this hierarchy:
Location > Track > Track Slots (this contains the speaker, topic, timing
details, tags and links)
Plus, people are able to mark some sessions as their favorites too.

Keeping in mind those and also that we need something which is responsive
(mobile friendly), the 2nd one is on the right side, but let's explore more.

On

[2020-06-02 14:36] #2 closed, assigned to nobody

[2020-06-03 02:43] Ashwin-op commented on #4
### Pages which need a title

- _Show repsonses_ of a Form inside an Event's page.

### Pages which might need a change of title

- _New Form_ inside a Community's page can be changed from **New Form** to **New Form | :community_name**
- _Edit Form_ inside a Community's page can be changed from **Edit :form_name Form** to **Edit :form_name Form | :community_name**

Pages which need other meta tags

[2020-06-03 04:58] arpansac opened #14 "Sitemap"
Integrate a sitemap generator, or just create a sitemap

[2020-06-03 05:00] arpansac commented on #4
** New Form**: We can do that, the new form page is going to be a common form creation page for some more future entities, example 'surveys'. So the title and meta tag would be dynamic based on the type of parent of the form

**Edit Form**: Same as above

You're going in the right direction!

[2020-06-04 19:49] umangbarthwal commented on #14
@arpansac sir, I want to work with sitemap issue. I found this open source [https://www.npmjs.com/package/sitemap-generator](url) sitemap generator, written in JS and working env is node. It generates XML file. I am thinking to add this as a helper tool outside the main project folder.

[2020-06-05 10:35] arpansac commented on #14
Go ahead, try the library, if it works fine, we'll use it!
Also try this one: https://chrome.google.com/webstore/detail/sitemap-generator/hcnjemngcihnhncobgdgkkfkhmleapah?hl=en

Should I then assign this issue to you?

[2020-06-05 14:10] umangbarthwal commented on #14
I have already tried the chrome plugin that you've mentioned. And both of them yielding the same result. But I have doubt regarding the results, whether it is correct or not ? The generated sitemap contains only one url, but it supposed to map all the pages.

<img width="592" alt="sitemap" src="https://user-images.githubusercontent.com/40247717/83884919-39b53800-a763-11ea-8b57-34eda388c8fc.png">
W

[2020-06-05 14:18] arpansac commented on #8
@Ashwin-op what do you think about the time table layout on this page: https://gdgx-event.web.app/speakers

[2020-06-05 15:22] Ashwin-op commented on #14
Even I tried, since there are no links in the main page and other admin pages require login the programs aren't creating sitemaps that we want. I'm not sure how to proceed in this aspect

[2020-06-05 15:28] Ashwin-op commented on #8
It looks clean and elegant!

We can use some coloured background for the same. We can maybe keep a switch button to switch between https://gdgx-event.web.app/schedule and https://gdgx-event.web.app/speakers.

Okay, I'm going too much ahead!

[2020-06-06 03:52] arpansac commented on #8
I think we should keep both speakers and schedule on one page. Let's get
the schedule part done. If you're up for it, should I allocate this to you?
Do post the components you'll be needing to make (as in the directory
structure changes) before you start.

On Fri, Jun 5, 2020 at 8:59 PM Ashwin <notifications@github.com> wrote:

[2020-06-06 03:56] arpansac opened #16 "Fix SSR with Angular Universal"
There is an error while Server Side Rendering with Angular Universal. The ActionCable js library probably. Need help fixing it

[2020-06-06 03:57] arpansac commented on #14
Do you think this because we're using Angular?

On Fri, Jun 5, 2020 at 8:53 PM Ashwin <notifications@github.com> wrote:

[2020-06-06 04:03] Ashwin-op commented on #14
Not because of angular, I think this will be the case wherever there is lesser number of public routes.

[2020-06-07 02:13] Ashwin-op commented on #8
Sure!

I think we need two components one for
![image](https://user-images.githubusercontent.com/60032753/83958691-67e56580-a892-11ea-9dba-3fab8f9ab486.png)

and one for
![image](https://user-images.githubusercontent.com/60032753/83958697-77fd4500-a892-11ea-9e00-9e833a8035b0.png)

Also from where do the data for these views come from?

[2020-06-07 08:00] arpansac commented on #14
Any solution till now?

[2020-06-07 08:10] arpansac commented on #8
Cool, here's my thoughts:

We have event locations > tracks > track slots

In the existing design also there's only 2 components, one for looping over locations (agenda) and then for tracks and track slots (event-location-tracks)

We could divided the components just as you said:

Locations in tabs (very few events have multiple locations (this could get converted to multiple days in the near futu

[2020-06-08 06:48] arpansac opened #17 "Add cookie consent message"
Simple, create a component for cookie consent.

Should be displayed once per session. Use local storage to remember not asking the user again.

In the next step we will link this to an API to store the consent per user (if we need to)

[2020-06-08 12:26] arpansac opened #19 "Change kommunity to community everywhere needed"
Initially when I began writing code, I'd named it Kommunities. Then, we moved to the name 'Commudle'. So, although I've tried to keep it 'community' everywhere in the front end code, but still there are some points left.

If you choose to do this, then me (@arpansac ) and you will be working in coordination to get this done because it'll require renaming of the table on the server side too.

[2020-06-09 01:13] Ashwin-op commented on #14
Writing the XML manually is one option or collect the sub URLs and write a program to generate it is another option.

One such example
[code]

[2020-06-09 06:10] arpansac commented on #14
@Ashwin-op
Majorly we'll be needing paths for
- All the communities
- Their events
- Sessions in these events

So it appears that we'll be looking at crawling our own website for generating a sitemap.

One solution is that we cite a couple of API's (example, of communities and all it's events) and then loop over them to generate the sitemap for at least them.

What do you think?

[2020-06-09 08:16] Ashwin-op commented on #14
Yes, we can create a sitemap containing links of communities and its events using APIs. Are the sessions in these events publicly accessible without logging in? If not, is it advisable to include those links in the sitemap?

[2020-06-09 08:45] arpansac commented on #14
Yup, all the communities and events have a public link available

On Tue, Jun 9, 2020 at 1:46 PM Ashwin <notifications@github.com> wrote:

[2020-06-09 10:40] arpansac opened #21 "Add more steps to setup [angular cli and design framework]"
Add the following things to setup steps:

- Install angular cli
- Refer to [Nebular](https://akveo.github.io/nebular/docs/components/components-overview)

[2020-06-09 10:52] arpansac opened #22 "Add overlay for left sidebar"
We can only close the sidebar by clicking the menu button. But there should be an overlay on the mobile view.

[2020-06-09 10:52] arpansac commented on #21
I want to solve this.

[2020-06-09 11:20] #21 closed, assigned to arpansac

[2020-06-11 06:42] arpansac opened #24 "PWA"
Make the app into PWA.
Do discuss which links we want to cache in the service worker.

[2020-06-11 06:55] amanintech commented on #24
Can I have It ?

[2020-06-11 10:06] arpansac commented on #24
@amanintech yup. Assigning this to you

[2020-06-11 10:12] arpansac commented on #8
Should I assign it to you? @Ashwin-op

[2020-06-11 12:36] Ashwin-op commented on #8
Sure!

[2020-06-12 08:16] amanintech opened #25 "hosting multi day event"
Currently, when hosting an event it gives the option of a single from date.
![image](https://user-images.githubusercontent.com/28403318/84480960-fdc62980-acb2-11ea-8231-606eeac448ce.png)
We should add a much convenient way of choosing multi-day events.

[2020-06-16 05:12] arpansac commented on #25
Yup, initially we had it, then I changed it to just one day because this was one of the rare use cases.
We need it!

[2020-06-16 10:35] frunkad commented on #12
This is the product I was talking about https://zmurl.com/

Might give some ideas on how we could proceed.

[2020-06-16 10:48] frunkad commented on #9
**With Authentication**
* https://developers.google.com/photos/library/guides/list#listing-shared-albums
* https://adodson.com/hello.js/demos/albums.html#source

**Without Authentication**

* https://medium.com/@ValentinHervieu/how-i-used-google-photos-to-host-my-website-pictures-gallery-d49f037c8e3c

This seems like a nice little hack - but I haven't seen any production website using this trick.

[2020-06-18 06:08] arpansac commented on #8
Any progress? Would love to take a sneak peek into the code

[2020-06-19 04:52] #10 closed, assigned to arpansac

[2020-06-19 04:57] arpansac opened #27 "Add social sharing buttons"
Add the links to share on social media for

- Community
- Event
- Session by experts (should appear on hover)

Probably you can make a separate component and do it

Post some example screenshots from other web apps and where you want to place these so that we can finalize the way it looks

This is going to be an important feature!

[2020-06-19 04:59] arpansac opened #28 "Add social media feed widget to the community page"
Add social media feed widget for Facebook, Twitter and Linkedin (based on whichever is available) to the community page.

It should be in the about Tab

[2020-06-19 05:02] arpansac opened #29 "Create a guide page for creating an event"
We need a page to display how to use the event page, and other features, in the near future.

Once someone chooses the issue, I'll create a basic routed feature-module and you can start working on it.

[2020-06-19 10:36] harsh26apr commented on #19
I want to take this issue.

[2020-06-19 11:04] arpansac commented on #19
Sure! Though the work will be more for me, but let's do this!

[2020-06-19 13:43] aparth33 commented on #27
I am interested.

[2020-06-19 15:14] arpansac commented on #27
@aparth33 assigned to you!

[2020-06-19 16:25] aparth33 commented on #27
https://www.searchenginejournal.com/places-to-share-your-content/234905/

Check this site on these mentioned sites it would be great to share the content.
And also the handles I think this site has is also good.It has handles on the left side of page and it remains on the sidebar as we drag along at any given point of time.

[2020-06-19 16:26] aparth33 commented on #27
![1](https://user-images.githubusercontent.com/47942134/85156409-a9551800-b277-11ea-9c3d-2439faa3247d.JPG)

![2](https://user-images.githubusercontent.com/47942134/85156424-af4af900-b277-11ea-9b12-c8026edad302.JPG)

We can also keep the sharing handles at the end of our posts or pages.

[2020-06-20 06:36] zackforbes commented on #29
I would like to go for this beginner issue .

[2020-06-20 09:27] arpansac commented on #29
@zackforbes sure! I'll create a feature module for you and assign it to you by tomorrow. Till then please collect the steps for creating an event!

[2020-06-25 12:33] zackforbes commented on #29
steps should be for creating a new QSTP event ,  right ?

[2020-06-26 07:27] #12 closed, assigned to arpansac

[2020-06-26 16:39] arpansac commented on #29
Yup, could be for any community event.

I've added a new feature module 'help' at app/feature-modules/help. You can begin working on it.

The design can be inspired from:
- https://developers.sendinblue.com/docs/getting-started
- https://help.videoask.com/hc/en-us

[2020-06-26 16:40] arpansac commented on #27
I think we can go ahead with this, you'll need to create a shared component inside 'shared-components' folder and you can pass on the links to that component. Whichever link is there, that particular link will appear.

Let's begin with the event public and event admin pages

Need any help, feel free to reach!

[2020-06-27 05:26] zackforbes commented on #29
okay I'll start from today

[2020-06-27 14:29] Parthchandratre commented on #22
Sir I am Interested in this issue.
But I am Beignner  so i will try to solve it

[2020-06-27 14:42] arpansac commented on #22
Cool @Parthchandratre assigned to you

[2020-06-29 07:00] Parthchandratre commented on #22
sir! I have made changes in HTML,scss File But I can't Find Where to make changes for Js  ( I Can't Find JS File)

[2020-06-30 05:51] arpansac commented on #22
It's the .ts file for the component. I'm not sure if you'll need to make
changes to it!

Can you please share which files you've changed, and probably some
screenshots too

On Mon, Jun 29, 2020 at 12:31 PM Parth A Chandratre <
notifications@github.com> wrote:

[2020-06-30 06:56] Parthchandratre commented on #22
ok, May I sent Photos On Whats up

[2020-06-30 08:34] arpansac commented on #22
Screenshots of the UI

On Tue, Jun 30, 2020 at 12:26 PM Parth A Chandratre <
notifications@github.com> wrote:

[2020-06-30 12:15] arpansac commented on #29
Here's another example: https://www.tiny.cloud/docs-4x/general-configuration-guide/upload-images/

[2020-06-30 12:16] arpansac commented on #24
**ROUTINECHECK**
@amanintech any progress?

[2020-06-30 12:17] arpansac commented on #27
**ROUTINECHECK**
Can you please share if you've made any progress?

[2020-06-30 12:17] arpansac commented on #19
**ROUTINECHECK**
@harsh26apr when shall we begin?

[2020-06-30 12:18] arpansac commented on #8
**ROUTINECHECK**
Any progress? @Ashwin-op

[2020-06-30 12:43] harsh26apr commented on #19
@arpansac Let us begin on July 5.

[2020-06-30 13:29] amanintech commented on #24
Maybe by this weekend @arpansac

[2020-06-30 15:26] Ashwin-op commented on #8
Yes, I have made some progress! Will try to get it done by 10 days! 😁

[2020-07-01 11:11] zackforbes commented on #29
okay Sir

[2020-07-03 03:28] arpansac commented on #4
@Ashwin-op we'll also need to add og:image, in case of community and event pages, it has to be the community logo

[2020-07-03 11:42] Parthchandratre commented on #22
The code added in html File
 `<div id="overlay">
           <div id="text">This Will Contain the text Which We Want to Show On Overlay`

Scss File=
`.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}`  You Can Change This Code As Per You Sir!

I have Writ

[2020-07-04 03:54] arpansac commented on #22
Hey!
Have you tested it to work? Also, it should work on mobile

On Fri, Jul 3, 2020 at 5:12 PM Parth A Chandratre <notifications@github.com>
wrote:

[2020-07-04 12:23] Parthchandratre commented on #22
Sir! I Can't test on this project So, I tested it On My one of the project But it not Worked.
So my suggestion Is That 90% I think My code is right From Frontend So Can You Test it By your Side

[2020-07-04 13:25] arpansac commented on #22
Are you facing a problem in setting up Commudle?

On Sat, Jul 4, 2020 at 5:54 PM Parth A Chandratre <notifications@github.com>
wrote:

[2020-07-07 08:15] arpansac opened #37 "Convert *ngIf to *ngSwitch"
Initially ngswitch wasn't required, but then the codebase grew fast.

Find all the places where *ngIf is used multiple times for the a different HTML element being displayed based on different values of a certain condition. Implement ngSwitch there and test it!

[2020-07-07 12:53] saksham93 commented on #37
Hi, I wish to work on this issue. Thank you.

[2020-07-08 03:15] arpansac commented on #37
Great @saksham93
Let's begin. Do go through the files and give a rough estimate of the days in which you'll be completing it.
Assigning this to you.

[2020-07-10 11:46] arpansac commented on #27
Do reply in the next 2 days to confirm if you're doing this!

[2020-07-11 13:20] amanintech opened #39 "Google Analytics ID is exposed"
Google Analytics ID is currently exposed in public view source code action. This was someone who can hinder the analytics and we may get wrong data.

Possible fix use component-based analytics also to target data while users move around.

[2020-07-11 17:49] aparth33 commented on #27
Yeah Sir I am doing this and have implemented certain things as well. You were supposed to keep a meeting to discuss things and also view the updated work.

[2020-07-12 05:16] arpansac commented on #27
Great Parth, I suppose the programme was officially over, plus the students were having exams. Let's keep a meeting this week.

[2020-07-12 19:17] arpansac commented on #39
This sounds super interesting. I think it being a thing of the front end, is always exposed?
Any library you suggest would make component based analytics possible? Or should we just go about the guide given on developers google?

I'm exploring too :D

[2020-07-14 13:39] arpansac commented on #4
Assigning this to myself :)

[2020-07-14 15:24] #4 closed, assigned to arpansac

[2020-07-14 17:03] amanintech commented on #39
Actually I discovered another problem with this approach. We will only be able to detect the user entering URL not the other URL's when he is roaming around like its a SPA and the page doesn't reload. This is an issue with all the SPA and the fix for this is to use a route update method to send data on route change.
I have done a similar thing in React in past but don't know much about Angular app

[2020-07-14 17:40] amanintech commented on #27
I suspect a problem with social sharing.
As our app is a CSR hence the social media platform won't actually read any content from the site and won't unfurl or create a twitter-like card. That could also be a problem with the search engine as also can't read anything on the page either
https://search.google.com/test/rich-results?id=J5gcbgwQGyxsLi5dnP82tQ
![image](https://user-images.githubuserconte

[2020-07-14 17:45] amanintech commented on #16
Isnt our application SPA with CSR ?

[2020-07-14 17:46] amanintech opened #43 "Sidebar opens itself on mobile"
Have a look

![commm](https://user-images.githubusercontent.com/28403318/87459105-904a4780-c628-11ea-9f6a-d97321d4b1a9.gif)

[2020-07-15 12:58] amanintech commented on #39
give me this

[2020-07-15 15:09] arpansac commented on #39
All yours @amanintech

[2020-07-15 16:02] arpansac commented on #13
I've created a basic profile update page, need a display page now

[2020-07-21 05:17] arpansac commented on #16
Yup!

[2020-07-24 07:47] arpansac commented on #22
Making this issue free to be occupied again.

[2020-07-24 07:48] arpansac commented on #37
This issue is free to be taken now

[2020-07-24 07:49] arpansac commented on #24
Merging this in the coming week, just completing a new feature...!

[2020-07-24 07:51] arpansac commented on #29
This issue is available to anyone who wants to do this.

[2020-07-24 07:52] arpansac commented on #27
Any progress @aparth33 ?
Let's do this a little faster, been a long time now.

[2020-07-24 07:53] arpansac commented on #13
I've added a url for updating the profile info, it shows incomplete in case the values of required fields are missing.

[2020-07-25 10:05] arpansac commented on #43
Re-opening, one minor fix

[2020-07-25 10:19] AmanRaj1608 opened #60 "Logout loop bug"
When a user logs out from one account and tries to sign in with another account it creates a loop.

After logging out from my first account the page shows up with URL
https://auther.commudle.com/?back_to=https:%2F%2Fcommudle.com%2Flogout

And after signing in again we will get redirected to https://commudle.com/logout

I think after signing out a user should be redirected to
https://auther.commudl

[2020-07-25 10:24] #43 closed, assigned to nobody

[2020-07-25 10:26] arpansac commented on #60
Oh, thanks for citing this! Will be fixed soon :)

[2020-07-26 23:55] aparth33 commented on #27
Yeah sure sir ! I will present to you shortly.

[2020-08-06 21:49] aparth33 commented on #27
Sir can we keep a meeting to discuss position of sharing logos on the website. Also need some help for fitting into the code.

[2020-08-07 02:45] arpansac commented on #27
Oh, I thought you were no longer working on this...
Let's discuss this over a call?

On Fri, Aug 7, 2020 at 3:19 AM Parth Aggarwal <notifications@github.com>
wrote:

[2020-08-07 05:18] #8 closed, assigned to Ashwin-op

[2020-08-07 13:53] aparth33 commented on #27
Yeah Sure Sir! Anytime tomorrow whenever you are free !

[2020-08-11 02:50] arpansac commented on #16
Code part is done, just testing it, will deploy it as soon as possible in SSR mode :D

[2020-08-11 02:53] arpansac commented on #16
The error was that the app was connecting to the socket before the page was delivered to the browser. Angular has this inbuilt option isPlatformBrowser which is very amazing.

Also, setInterval causes the app to hang before being delivered to the browser, so I removed it, or put the browser platform check on it too

[2020-08-13 14:47] #16 closed, assigned to arpansac

[2020-08-17 09:40] arpansac opened #68 "Show the link to event session page on public event page after the event has concluded"
Example:
[https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1](https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1) should have a link to the page where the live session was organized.
This is the link:
[https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1/session](https://commudle.com/communities/gdg-new-d

[2020-08-17 09:41] arpansac commented on #27
Auto Alert: Removing assignment due to inactivity. Please comment again if you are working on this.

[2020-08-17 17:59] aparth33 commented on #27
Yeah sir I did and wanted to discuss with you therefore asked for time in previous comment for same .

[2020-08-17 22:32] sanchit2107 commented on #68
@arpansac Can you Please describe this issue in more detail? So that I can work over it.

Thanks

[2020-08-18 02:52] arpansac commented on #68
Hey @sanchit2107
If you visit this event page: https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1
It should have a link to the page where the users can go and view the session which took place in the past, which is on this link: https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1/session

This event is of the type 'single session'.
The

[2020-08-18 02:53] arpansac commented on #27
Sure, you have my number! Please feel free to ping/call :)

[2020-08-20 15:00] sanchit2107 commented on #68
Okay, @arpansac I got it.

You want to say that the event page: https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1
should be replaced by link through which users can view the past sessions and which is on the link: https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1/session

I hope this is the only one you want to talk about.

If not t

[2020-08-23 12:14] arpansac commented on #68
Just a little bit different, you almost got it. Let me explain with screenshots

EVENT TYPE 1 [DOESN'T NEED ANY CHANGES]: https://commudle.com/communities/gdg-new-delhi/events/developer-days-1-let-s-learn-angular
It has a custom agenda/schedule and even after it gets completed, people can click on the session's link and access the session page. Example image:
![Screenshot 2020-08-23 at 5 33 52 PM]

[2020-08-24 16:59] kpiyush04 opened #70 "Facebook Icon not appearing in social handles."
While updating my Facebook icon was not working I have attached the screenshot for the reference.

![Screenshot from 2020-08-24 22-26-05](https://user-images.githubusercontent.com/44132300/91073789-2c6c6300-e659-11ea-9792-7c37470c1f8a.png)

[2020-08-26 10:22] arpansac commented on #70
Thanks for shifting the issue here @kpiyush04

[2020-08-26 11:10] amanintech commented on #24
This still hasn't been merged yet and I think now it will have conflicts. Do you want me to create another PR?

[2020-08-26 11:27] arpansac commented on #24
It'd be great if you can, this got backlogged because of the SSR thing,
wrapping up the code for version 1.0 and will come to this PR just next to
it. Mostly 1st week of September should be it.
Would be a big help if you can resolve the conflicts and update the PR :)

On Wed, Aug 26, 2020 at 4:40 PM Aman Sharma <notifications@github.com>
wrote:

[2020-08-26 20:13] amanintech commented on #24
Sure no worries

[2020-09-01 15:43] arpansac opened #72 "Minimizing the sidebar menu with icons visible"
On the web, the sidebar menu right now completely closes or opens. It should have a third state which is it should be halfway with icons visible. Task is to:
- Add icons to the menu items where it isn't there
- Make sure those icons are visible in the minimized version of it
- Desktop: Clicking the hamburger should take through steps viz. Open, minimize, collapse
- Mobile: Open, Close

HINT
Nebula

[2020-09-01 15:43] arpansac commented on #68
@sanchit2107 are you still interested?

[2020-09-01 19:23] sanchit2107 commented on #68
Dear @arpansac

Actually I have my last semester exams this week. So busy in preparation.

I will start working over it after 08-09-2020 if you don't have any problem.

I hope you understand my concern.

[2020-09-06 13:44] arpansac commented on #68
Absolutely, just let me know once you begin so that I can assign this issue to you.

[2020-09-06 20:34] sanchit2107 commented on #68
Sure thank you!!

[2020-09-10 13:50] arpansac commented on #24
Reviewed once, will be merged early next week! :)

[2020-09-16 11:43] arpansac commented on #60
Hey @AmanRaj1608
I've been unable to reproduce the bug, here's what the flow in the code does:
- Click on logout (on any page)
- Gets redirected to https://commudle.com/logout
- Gets redirected to https://commudle.com
It appears to work fine (I literally sat down on a login logout loop for some time)

Can you please try and see if it happens again and share some more details on (browser, device co

[2020-09-30 12:58] arpansac opened #79 "Add next and previous button to image popup in builds"
<img width="948" alt="Screenshot 2020-09-30 at 6 27 28 PM" src="https://user-images.githubusercontent.com/11703424/94687979-9b209880-034a-11eb-9de0-41e3834d9664.png">
As you can see in the above screenshot, to view each image I have to close the popup and click on the next image to view it. Add next and previous buttons below the image for moving to the next/previous image without closing the popu

[2020-09-30 13:00] arpansac commented on #68
@sanchit2107 did you fix this and forget to push the PR by any chance? :D

[2020-09-30 13:16] arpansac commented on #37
Closing this, not needed

[2020-09-30 13:16] #37 closed, assigned to nobody

[2020-10-06 04:17] Ashwin-op commented on #79
Can [ngx-lightbox](https://www.npmjs.com/package/ngx-lightbox) be used?

Edit: Here is a [demo](https://www.youtube.com/watch?v=5ebhEXMSZFo)

[2020-10-06 04:31] arpansac commented on #79
I think we can build it on our own, minor tweaks in the code needed

On Tue, Oct 6, 2020 at 9:48 AM Ashwin <notifications@github.com> wrote:

[2020-10-06 05:26] Ashwin-op commented on #79
Okay, I'll let you know if I start working on this

[2020-10-06 05:47] arpansac commented on #79
Cool!

On Tue, Oct 6, 2020 at 10:56 AM Ashwin <notifications@github.com> wrote:

[2020-10-06 08:14] amanintech opened #81 "Welcome Hacktoberfest contribution"
I am not a huge fan of this, but do you think accepting #hacktoberfest contribution can boost participation.

Yes, there would be spams but we can handle it for sure. What's your say @arpansac ?

[2020-10-06 09:24] arpansac commented on #81
I've been thinking about it, waiting to reach a point where I can see less
spamming, we'll announce soon!

On Tue, Oct 6, 2020 at 1:45 PM Aman Sharma <notifications@github.com> wrote:

[2020-10-07 11:34] arpansac commented on #70
closed by #78

[2020-10-07 11:34] #70 closed, assigned to nobody

[2020-10-07 11:35] arpansac commented on #24
Tested and deployed with: #80

[2020-10-07 11:35] #24 closed, assigned to amanintech

[2020-10-07 11:43] arpansac commented on #81
Added the topic **hacktoberfest** to the repository and also added tags to the issues, all we need is a little word out there :D

[2020-10-08 07:28] amanintech commented on #81
Should we make a social media post from the official handles, like a small video and then everyone in core can share it ?

[2020-10-08 07:36] arpansac commented on #81
We can!

On Thu, Oct 8, 2020 at 12:58 PM Aman Sharma <notifications@github.com>
wrote:

[2020-10-09 01:42] jrstrayhorn commented on #17
I would like to work on this one!

[2020-10-09 01:49] arpansac commented on #81
Done! Thanks for starting this thread :)

[2020-10-09 01:49] #81 closed, assigned to arpansac, amanintech

[2020-10-09 01:52] arpansac commented on #17
@jrstrayhorn thanks a lot. Let's do this, assigning this issue to you.
Would be great if you can just put a rough timeline we're looking at!

[2020-10-09 12:42] jrstrayhorn commented on #17
Hi @arpansac! I plan to start working on it today and have a PR in for it over next 24 to 48 hrs.

Going to take the approach that patreon.com uses for their cookie consent (see screen shot below), between top nav and main content for commudle site - that work for you?

![patreon-cookie-consent](https://user-images.githubusercontent.com/21061492/95584221-52807380-0a0b-11eb-836a-09b2c45fb36b.png)

[2020-10-09 12:51] Evavic44 commented on #79
### **I finally fixed the problem**.
Check if your image directory is the same with that on the lightbox.min.css file and rename them according to your use case. Here I changed the **../image/loading.gif to ../img/loading.gif**  P.S _img bolded for preview_

.lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{posi

[2020-10-09 13:10] Ashwin-op commented on #79
I'm not sure what this has got to do with the issue mentioned. 🤔

[2020-10-09 13:36] arpansac commented on #17
Sounds cool @jrstrayhorn
As for the position of the consent, we're using [Nebular](https://akveo.github.io/nebular/docs/components/components-overview) library

Probably using the window component might make it easier for you. Preferred position is any place at the bottom :)

[2020-10-10 08:45] arpansac commented on #79
closed by #83

[2020-10-10 08:45] #79 closed, assigned to Ashwin-op

[2020-10-14 05:00] arpansac commented on #17
Any updates @jrstrayhorn ?

[2020-10-14 09:22] arpansac opened #87 "Update Nebular to the latest version 6"
Finally, there's an update to Nebular, let's do it, it has a Timepicker!

Should be pretty easy I suppose

[2020-10-14 13:48] jrstrayhorn commented on #17
Hi! @arpansac - I left you questions and updated comments on the pull request - https://github.com/commudle/commudle-ng/pull/84 a few days ago 😊

[2020-10-14 13:58] arpansac commented on #17
Oops, somehow didn't get a notification mail :P

Let me merge and test it, if everything's fine, it'll be live in the next 12 hours 👍

[2020-10-15 00:26] arpansac opened #88 "Move component community-control-panel to feature modules"
This will help in reducing the size of the prod build for initial render

[2020-10-15 07:21] Ashwin-op commented on #87
What are the things that should be updated?

[2020-10-15 09:42] arpansac commented on #87
Just the nebular package needs an update for this issue :)

On Thu, 15 Oct 2020, 12:51 Ashwin, <notifications@github.com> wrote:

[2020-10-16 01:50] arpansac commented on #17
I guess 1 change was pending, I was just figuring it out myself. Your code will be live in 1 hour :D

[2020-10-16 01:50] #17 closed, assigned to jrstrayhorn

[2020-10-16 02:21] #88 closed, assigned to arpansac

[2020-10-18 03:27] Ashwin-op commented on #87
Can we also replace the `ngx-material-timepicker` with the one in Nebular? I'm not sure of how big a change that is but just asking.

[2020-10-18 05:01] arpansac commented on #87
Yup, we want to do that, but it would be a separate issue, would require a
little more testing and changes are not just the timepicker but everywhere
time input is taken even in dropdown from the user.

On Sun, Oct 18, 2020 at 8:57 AM Ashwin <notifications@github.com> wrote:

[2020-10-18 08:01] Ashwin-op commented on #87
Can you assign this issue to me?

[2020-10-18 09:44] arpansac commented on #87
For sure

On Sun, Oct 18, 2020 at 1:31 PM Ashwin <notifications@github.com> wrote:

[2020-10-21 01:21] #87 closed, assigned to Ashwin-op

[2020-10-21 02:22] arpansac opened #92 "Use the new nb-timepicker from Nebular"
Yay! Nebular has finally added the timepicker to the theme. Looking to use it everywhere there's a schedule mentioned, viz.
- Event create/edit page
- Event custom agenda

[2020-11-03 08:32] arpansac opened #93 "Make font-awesome available with nb-icon"
Right now, <nb-icon> uses [eva icons](https://akveo.github.io/eva-icons/#/).
However, we also have fontawesome installed as a package, but need to use <fa-icon> everytime. Now, to use font-awesome with nb-icon, some basic changes need to be made. You can easily find it on Google search.

We want it because though eva-icons are amazing, they're very limited.

[2020-11-17 07:03] arpansac opened #95 "Update to Angular 11"
- Update Angular CLI to the latest version 11
- Test all the dashboards to be working properly

If you're working on this, just let me know, I'll add you to the admins of a community to test out the dashboards

[2020-11-23 00:44] arpansac commented on #95
Did it myself on another branch, will go live soon!

[2020-12-26 17:11] IshetaBansal commented on #3
I would like to work on this issue. Please assign it to me.

[2020-12-26 17:20] IshetaBansal commented on #93
I would like to work on this issue. Please assign it to me.

[2020-12-26 18:34] IshetaBansal commented on #29
Hey! I would love to work on this issue. Please assign!

[2020-12-27 20:16] Sloth-Panda commented on #93
I would like to take this. Please let me know.

[2020-12-27 20:18] Sloth-Panda commented on #14
Hey, Can I Take this issue?

[2020-12-27 20:19] Sloth-Panda commented on #19
Hey I can take a look into this. Let me know.

[2020-12-27 20:22] Sloth-Panda commented on #22
I would love to take this issue. Let me know.  There are also no DWoC labels on your issues can you please add the labels to them!

[2020-12-28 03:36] arpansac commented on #95
closed with #98

[2020-12-28 03:36] #95 closed, assigned to arpansac

[2020-12-28 03:37] arpansac commented on #11
Can be added with reference from code in #98

[2020-12-28 03:45] arpansac commented on #29
@IshetaBansal absolutely, have you set up the code on your system?

Also, we could take the way gitbook displays tutorials in reference for the design!

[2020-12-28 03:46] arpansac commented on #14
Hey @Sloth-Panda actually a PR already got created by @Ashwin-op even before I assigned this one to him :)

[2020-12-28 03:47] arpansac commented on #3
@IshetaBansal done, assigned!
Let's define a timeline as well please, approximately till when would you be able to complete it?

[2020-12-28 03:49] arpansac commented on #93
@IshetaBansal @Sloth-Panda

Since there's 2 comments on this, let's do it this way, the one who sets up the code first on their system and posts a screenshot here gets this one :)

[2020-12-28 04:54] arpansac commented on #68
resolved with #98

[2020-12-28 04:54] #68 closed, assigned to nobody

[2020-12-28 04:57] arpansac commented on #22
Hi @Sloth-Panda, sure, I've assigned the issue to you. Please mention a timeline by when you will be able to complete it!
Let me know if you need my help in figuring it out.

[2020-12-28 04:58] arpansac commented on #13
solved with #98

[2020-12-28 05:44] Sloth-Panda commented on #22
Just give me 2 days  or idk i will just try making it in sometimes today only may get completed very soon

[2020-12-28 06:24] smriti1313 commented on #3
Hi, is there any chance of me contributing in this issue? I would really like to work on it.

[2020-12-28 06:41] arpansac commented on #19
Hey @Sloth-Panda we've postponed this for now. Requires some major testing at the server side.

[2020-12-28 06:41] #19 closed, assigned to arpansac, harsh26apr

[2020-12-28 06:44] arpansac commented on #3
@smriti1313 I think this is more of a 1 person task....
If you and @IshetaBansal can both divide the tasks, would be happy to co-assign this to you too!

[2020-12-28 06:58] smriti1313 commented on #3
@IshetaBansal Will it be alright with you to share this task with me? We can divide the work in this.

[2020-12-28 07:42] Sloth-Panda commented on #22
Hey, do I really need to download the angular CLI to work on this

[2020-12-28 07:43] arpansac commented on #22
Yep!
And take it easy, no pressures, let's decide a date of completion :)

[2020-12-28 07:45] Sloth-Panda commented on #22
Why can't I simply modify the scss file using vscode ??

[2020-12-28 07:46] arpansac commented on #22
As long as you can test it and send over the screenshots, it works

[2020-12-28 07:48] Sloth-Panda commented on #22
There won't be any issue with merging pr if it works fine right? If I do it in the above-mentioned way?

[2020-12-28 07:49] arpansac commented on #22
As long as it works fine and the code's clean, it's cool. We will need the screenshots.

[2020-12-28 09:41] IshetaBansal commented on #29
Thanks a lot!
Could you please guide me a little as this is my first issue?

[2020-12-28 10:03] arpansac commented on #29
Yup, the current readme has the basic steps to get the app going on your system. Let me know if that doesn't work...!

[2020-12-28 11:49] bhavesh1129 commented on #28
Hey @arpansac !
I want to take this up could you please assign this to me.
Thankyou!

[2020-12-28 12:11] IshetaBansal commented on #3
Hey!

[2020-12-28 12:33] IshetaBansal commented on #3
I'll try to complete it by tomorrow evening.

[2020-12-28 12:52] arpansac commented on #28
Let me define the steps:
- Find which websites have a widget (from fb, linkedin, twitter, github, etc)
- Post the links in here, once we finalize, then we move towards the design part

It is quite possible that widgets are not there for some of these.

[2020-12-28 14:36] IshetaBansal commented on #3
I

Hey
Could elaborate on the branch naming conventions? I am unable to find any of these except the development branch.

[2020-12-28 19:48] Sloth-Panda commented on #22
![Screenshot (7)](https://user-images.githubusercontent.com/70213384/103239467-92545880-4973-11eb-91d7-75099854a325.png)
Whenever I try to install angular/cli using   git install -g @angular/cli  It shows some problem like this
Please suggest what to do

[2020-12-29 02:55] Ashwin-op commented on #22
Angular CLI can't be called with `angular` or `angular/cli`. Try `ng v` to see the version and check if angular cli is installed in your system

[2020-12-29 02:59] arpansac commented on #3
Hey! Let me try to answer inline

Could you elaborate on the branch naming conventions? I am unable to find any of these except the development branch.
- So these are usually done in a way `feature-<branchname>`, `fix-<branchname>` and so on. Try to google a little and you might find something even better (do post it here if it's interesting, before making those changes)

And where can I find the

[2020-12-29 05:05] Sloth-Panda commented on #22
![Screenshot (9)](https://user-images.githubusercontent.com/70213384/103259881-46300500-49c1-11eb-8c41-d36550a943aa.png)

On my system angular cli is installed, after that, I ran npm install, and after that ng serve but when i open the go over the http://localhost:4200/  it just says page mot found why's that. i have good internet connection though

[2020-12-29 07:25] arpansac commented on #22
Great, you're on the right track. Go to environment.ts inside commudle-admin/src and check if it looks like this:

`export const environment = {
  production: false,
  // app_url: 'http://localhost:4200',
  // base_url: 'http://localhost:3000',
  // action_cable_url: 'http://localhost:3000/live',
  // auth_cookie_name: 'dev_commudle_user_auth',
  // zoom_call_server_url: 'http://localhost:4000',

[2020-12-29 08:59] Sloth-Panda commented on #22
![Screenshot (10)](https://user-images.githubusercontent.com/70213384/103272120-075e7700-49e2-11eb-8cfa-7b0f868fc1e4.png)

is this the place if not can you tell me the exact path where to put this angualr packages's path

[2020-12-29 10:06] arpansac commented on #22
Sorry, I'm a little confused....
There's no need to change any package paths...

[2020-12-29 10:08] Sloth-Panda commented on #22
`export const environment = {
production: false,
// app_url: 'http://localhost:4200',
// base_url: 'http://localhost:3000',
// action_cable_url: 'http://localhost:3000/live',
// auth_cookie_name: 'dev_commudle_user_auth',
// zoom_call_server_url: 'http://localhost:4000',

session_cookie_name: 'cmdle_sess',

app_url: 'https://commudle.com',
base_url: 'https://json.commudle.com',
action_cable_url: '

[2020-12-29 10:12] arpansac commented on #22
Oh that, sure, it's this file https://github.com/commudle/commudle-ng/blob/development/projects/commudle-admin/src/environments/environment.ts

Also, I'd suggest exploring the folder structure a little more on how things are aligned, it'll help you navigate faster, else, I'm here to help as well.

[2020-12-29 10:23] Sloth-Panda commented on #22
![Screenshot (11)](https://user-images.githubusercontent.com/70213384/103276750-6b3a6d00-49ed-11eb-9629-fa7cac9915e5.png)

It's showing like this as you told but still when i tried to run this project on localhost same issue
Do I need to start XAMPP inorder to make this project run on localhost

[2020-12-29 11:34] arpansac commented on #22
Nope, it should directly run after you do npm install and then ng s

On Tue, Dec 29, 2020 at 3:53 PM Achyut Kumar Panda <notifications@github.com>
wrote:

[2020-12-30 08:22] tharunc opened #99 "Add CODE_OF_CONDUCT.md"
Hello there,
    I would like to add CODE_OF_CONDUCT.md for this Project. Kindly assign me this issue.

[2021-01-02 03:37] arpansac commented on #99
Hi @tharunc
Can you please elaborate on what would be the points in this doc?

[2021-01-02 03:39] arpansac commented on #22
Hey @Sloth-Panda, Happy New Year!
Any progress with this?

[2021-01-02 04:15] Sloth-Panda commented on #22
I am having aproblem with the setup let me try again and will let you know.

[2021-01-02 04:18] arpansac commented on #22
Cool, otherwise let me know we can get on a screenshare and I'll help you
fix it.

On Sat, Jan 2, 2021 at 9:46 AM Achyut Kumar Panda <notifications@github.com>
wrote:

[2021-01-02 04:32] Sloth-Panda commented on #22
Yes, sir the localhost at 4200 now leads to ur site having some issue previously so i will look into the issues now will reply you back soon

I tried logging in now but I can't find any cookie namely  commudle_user_auth
![Screenshot (20)](https://user-images.githubusercontent.com/70213384/103450899-f912a280-4ce2-11eb-8c6f-53f7179f0c74.png)

Or else it asking to remove the adBlocker or antivirus ex

[2021-01-02 13:36] tharunc commented on #99
We know code of conduct is a very important thing to be followed when many are contributing in a single project ,
Let me give a description about the code of conduct ,

There will be a pledge which all need to follow so that this community get a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity etc while contributing and we take this pledge to follow the

[2021-01-02 13:42] arpansac commented on #99
Sounds cool, we did create a Contribution Guidelines doc as well, initially the community part was added into it, but minor.

Assigning this issue to you.

Are you from DWoC as well? Let me know, I'll add the required tags then.

[2021-01-02 13:46] tharunc commented on #99
Thank You. I am from DWOC.

[2021-01-02 15:51] vinishhub commented on #92
I am vinish I want to contribute to this issue I have installed it locally if you assign me this issue I am new to this event. I have completed my 1 st contribution a week ago.

[2021-01-02 16:10] arpansac commented on #92
Hey @vinishhub, a Very Happy New Year.

Assigned the issue to you, just laying the following steps:
- If you can mail at arpan@commudle.com, I will add you as an admin to a demo community
- Once done, please first share which all files will need a change before you proceed with changing the code.

[2021-01-02 17:43] handsome-me commented on #93
is this available?

[2021-01-02 17:54] knightmate commented on #13
is this issue available?

[2021-01-02 18:08] knightmate opened #101 "After getting back from any click(link) , we should be on same position but we get to start of webpage"
If we click on any project ,when we get back from that project link we get navigated at starting of webpage not on same project section.

[2021-01-03 04:14] arpansac commented on #101
This is going to be an interesting thing to solve!

[2021-01-03 04:17] arpansac commented on #92
Sent you the invite

[2021-01-03 04:22] arpansac commented on #93
Yup, very much.
Let me know once you set up the code on your system, I will assign this to you :)

[2021-01-03 04:23] arpansac commented on #13
Oopsie, somehow this didn't get closed. I've already completed it.

[2021-01-03 04:23] #13 closed, assigned to arpansac

[2021-01-03 05:15] handsome-me commented on #93
ohk sir, i'm from codingninjas careercamp learned web dev from you.

[2021-01-03 05:40] Sloth-Panda commented on #22
sir can you tell me how can I login

[2021-01-03 05:45] arpansac commented on #22
Sure, let me put down the steps:
- Click the sign in button on auther.commudle.com
- It'll take you to google for signing in
- Then it will redirect you back to commudle.com
- Now you will find the cookie, just copy and paste into the tab where you are running localhost :)

[2021-01-03 06:59] muthuannamalai12 opened #102 "Add Contributors.md File"
Hai,
I would like to add Contributors.md file in your project in the form of a table and display a link to it in README.md

[2021-01-03 07:15] Sloth-Panda commented on #93
![Screenshot (27)](https://user-images.githubusercontent.com/70213384/103473706-89271980-4dc1-11eb-8e7e-0a8041f7276a.png)

DONE WITH THE SETUP

[2021-01-03 07:18] handsome-me commented on #93
@Sloth-Panda are you doing this?i will need some time for setup , so u try till then.

[2021-01-03 07:27] muthuannamalai12 commented on #102
I would love to work on this issue as a part of DWOC. Kindly assign me this issue.

[2021-01-03 07:54] Sloth-Panda commented on #93
@handsome-me  Yes, go ahead. I am trying too.

[2021-01-03 11:43] Ashwin-op commented on #102
If needed this can be used -- https://allcontributors.org/

[2021-01-04 04:00] arpansac commented on #102
Let's do this @muthuannamalai12

[2021-01-04 11:45] muthuannamalai12 commented on #102
I have created a pull request. Kindly review it and add DWOC label to it

[2021-01-05 19:30] akrish4 opened #104 "CODE OF CONDUCT FILE"
Hi @arpansac
I would like to contribu4to this repository by creating a code of conduct file which is messing in this repository

Kindly assign me this issue

[2021-01-06 02:30] Ashwin-op commented on #104
Please don't create multiple issues. This is already being addressed at #99 and #100

[2021-01-06 03:01] akrish4 commented on #104
@Ashwin-op  let me know if there is any other documentation needs to be worked on , I would be glad to do it
@arpansac

[2021-01-06 10:17] #104 closed, assigned to nobody

[2021-01-06 18:43] tharunc opened #106 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue. For reference, kindly check out: https://github.com/apps/welcome
THANK YOU

[2021-01-07 02:09] Ashwin-op commented on #101
Maybe we can do something like,

During page unload, get the scroll position and store it in session storage (We should use session storage instead of local storage since session storge affects only the current tab while local storage shared between all tabs and windows of the same origin).

And this can be done per page (by appending pathname maybe?) so other pages in the same origin don't get af

[2021-01-07 16:44] muthuannamalai12 opened #107 "Create Issue Template"
Hai,
I would love to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal .

[2021-01-07 16:44] muthuannamalai12 commented on #107
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-07 16:50] arpansac commented on #107
Hey! Can you please share some sample templates links?

[2021-01-07 16:59] muthuannamalai12 commented on #107
![Template 1](https://user-images.githubusercontent.com/64524822/103920816-bc5a0780-5137-11eb-8a08-734ec063231e.png)
![Template 2](https://user-images.githubusercontent.com/64524822/103920828-bfed8e80-5137-11eb-92c9-76701e19489b.png)
![Template](https://user-images.githubusercontent.com/64524822/103920838-c24fe880-5137-11eb-90ca-0365c8ee1b6f.png)

[2021-01-07 16:59] muthuannamalai12 commented on #107
![Template 1](https://user-images.githubusercontent.com/64524822/103920879-cda31400-5137-11eb-8902-5bfb31c7fe8f.png)

[2021-01-07 16:59] muthuannamalai12 commented on #107
![Template 2](https://user-images.githubusercontent.com/64524822/103920908-d5fb4f00-5137-11eb-89e5-d67b8f1b4d5d.png)

[2021-01-07 16:59] muthuannamalai12 commented on #107
![Template](https://user-images.githubusercontent.com/64524822/103920918-dd225d00-5137-11eb-91c2-fc25cc8498e1.png)

[2021-01-07 17:00] muthuannamalai12 commented on #107
![Template](https://user-images.githubusercontent.com/64524822/103921003-f6c3a480-5137-11eb-9311-7432263ba521.png)

[2021-01-08 04:41] arpansac commented on #107
Done, let's do this

[2021-01-08 04:43] arpansac commented on #106
Sounds cool, can you please post all the messages we will be having here? I'd love to customize them a little.

[2021-01-08 04:48] arpansac commented on #101
Yup, I think that should be a smart way of doing it, since the complete page is loaded via ajax.
Plus since we have SSR enabled on the project, we could choose some of the request to be pre-loaded before the page is rendered.

As for the specific tab, I'm generating a unique app_id for every refresh that takes place (being sent from the server to front end), or we could find some unique id for tha

[2021-01-08 04:50] arpansac commented on #93
@handsome-me, @Sloth-Panda
Any luck? This is a simple one.

[2021-01-08 04:51] arpansac commented on #22
@Sloth-Panda please update on the progress.

[2021-01-08 04:53] arpansac commented on #3
@smriti1313 will you be interested to take this up? Unfortunately we didn't get any updates from the previous assignee

[2021-01-08 04:54] arpansac commented on #9
Replying uber late, I'm also yet to encounter any website using it, the links you've mentioned are all that's available :)

[2021-01-08 04:57] frunkad commented on #9
So what's the plan boss? 😛

On Fri, 8 Jan, 2021, 10:24 AM arpansac, <notifications@github.com> wrote:

[2021-01-08 05:10] smriti1313 commented on #3
@arpansac Thank you so much but i am sorry since i got my end sem exams for now. You may assign it to the other person please. Thank you.

[2021-01-08 05:22] Sloth-Panda commented on #93
sir plz check the slack channel of DWoC have messaged there

[2021-01-08 05:23] arpansac commented on #9
We want to do this since the usual way people upload photos is to a cloud which is already on their phone!

[2021-01-08 10:27] muthuannamalai12 commented on #107
I have created a pull request. Kindly review it

[2021-01-08 13:29] tharunc commented on #106
newIssueWelcomeComment: >
  Hello there!👋 Welcome to the project!🚀⚡

  Thank you and congrats🎉 for opening your very first issue in this project.
  Please adhere to our [Code of Conduct]

newPRWelcomeComment: >
  Hello there!👋 Welcome to the project!💖

  Thank you and congrats🎉 for opening your first pull request.✨
  Please adhere to our [Code of Conduct]. We will get back to you as soon as we can

[2021-01-08 14:16] IshetaBansal commented on #3
Hey
I'd been working previously on this issue and I've been MIA due to some family emergency. I would be highly obliged if you reassigned the issue to me.
Thank you :)

[2021-01-10 06:17] arpansac commented on #107
Reviewed, merging soon. Thanks a ton

[2021-01-10 06:17] muthuannamalai12 commented on #107
Thank you

[2021-01-10 06:18] arpansac commented on #106
Looks good, let's please replace 'the project' everywhere with 'Commudle'

[2021-01-10 06:19] #99 closed, assigned to tharunc

[2021-01-10 06:20] arpansac commented on #3
Done. Please take care.

[2021-01-11 07:31] #14 closed, assigned to Ashwin-op

[2021-01-11 07:33] #102 closed, assigned to muthuannamalai12

[2021-01-11 07:35] #107 closed, assigned to muthuannamalai12

[2021-01-12 07:38] Amit366 commented on #93
Is this issue open??

[2021-01-12 14:15] arpansac commented on #93
@Sloth-Panda are you pursuing this actively?

[2021-01-12 14:18] Sloth-Panda commented on #93
No  sir, I am not that much looking into it

[2021-01-12 15:06] arpansac commented on #93
@Amit366 should I assign this to you?

[2021-01-12 15:22] Amit366 commented on #93
Yes I would like to work but I don't know Typescript.

[2021-01-13 14:16] kanishkaa24 commented on #3
I would love to work on this issue.

[2021-01-14 10:01] himanshu007-creator opened #110 "Automating website"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 10:03] arpansac commented on #110
Can you please explain a little more?

[2021-01-14 10:04] arpansac commented on #106
@tharunc any progress on this?

[2021-01-14 10:05] arpansac commented on #3
@kanishkaa24 we're waiting for @IshetaBansal to make a progress on this. Please choose another issue :)

[2021-01-14 10:06] arpansac commented on #110
There are templates defined for issues, would be great if you can choose from one of them

[2021-01-14 10:12] himanshu007-creator commented on #110
Sir, I will create a bash script.When user runs that script on CLI, website will open automatically.

[2021-01-14 10:15] arpansac commented on #110
And what would be the requirement of that script?

On Thu, Jan 14, 2021 at 3:42 PM Himanshu <notifications@github.com> wrote:

[2021-01-14 10:17] himanshu007-creator commented on #110
That will be helpful for developers using ubuntu, and similar operating systems.
By running a single script, they can access our project and time will not be wasted on surfing the internet .

[2021-01-14 10:21] arpansac commented on #110
Umm, I'm still a little confused, if you can answer the following questions for some clarity:
- The project has a readme and when we serve the project on localhost, then developers access it locally. How would your script be different from this?
- In live mode, developers access it on www.commudle.com, so would the script facilitate for this? If yes, then why is it still needed
- Can you give an e

[2021-01-14 10:25] himanshu007-creator commented on #110
https://github.com/preeti13456/CityonBikes/graphs/contributors

here i did the same automating thing

[2021-01-14 10:30] arpansac commented on #110
Please share the link to the PR or the file and please do answer the
questions clearly :)

On Thu, Jan 14, 2021 at 3:56 PM Himanshu <notifications@github.com> wrote:

[2021-01-14 10:33] himanshu007-creator commented on #110
https://github.com/preeti13456/CityonBikes/pull/17

[2021-01-14 11:07] muthuannamalai12 commented on #107
I have reverted the PR I made. Kindly review it again @arpansac . Sorry for inconvenience

[2021-01-14 11:10] arpansac commented on #110
Hey @himanshu007-creator
Thanks for this, I think we won't be needing this script right now. But thanks again for your time on this.

[2021-01-14 11:10] #110 closed, assigned to nobody

[2021-01-14 11:13] himanshu007-creator commented on #110
Thanks for your timely response sir.
I will look some other ways to contribute.

[2021-01-14 15:55] arpansac commented on #93
@amit, please setup the code on your system first, once you update, I'll assign it to you

[2021-01-15 04:40] samir-0711 opened #113 "Add Contributors Table in README.md"
Like this
![image](https://user-images.githubusercontent.com/68433936/104682032-c96b8d80-5719-11eb-94c7-bf44b3d361ce.png)

[2021-01-15 04:40] samir-0711 commented on #113
I would like to work on this.

[2021-01-15 08:12] arpansac commented on #113
Hey, this is already present. Please check the readme.

[2021-01-15 08:12] #113 closed, assigned to nobody

[2021-01-15 08:14] arpansac commented on #106
closed by #112
Thank You @tharunc :)

[2021-01-15 08:14] #106 closed, assigned to tharunc

[2021-01-15 08:17] arpansac commented on #107
I've merged the revert. Thanks!

[2021-01-15 11:06] muthuannamalai12 opened #114 "PR TEMPLATE"
## 🚀 Feature
I can add a pr template , which will have few checklists and options like uploading screenshots and describing about the pr etc , which will give better understanding of pr for the maintainer
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/commudle/commudle-ng/blob/development/CONTRIBUTING.m

[2021-01-15 11:06] muthuannamalai12 commented on #114
I would love to work on this issue as a part of DWOC. Kindly assign me this issue.

[2021-01-15 11:10] muthuannamalai12 commented on #114
It would look like the photo mentioned below
![Pull Request Template](https://user-images.githubusercontent.com/64524822/104718068-4f0a3000-5750-11eb-9b2e-11e5f07f6815.png)

[2021-01-15 14:06] kanishkaa24 commented on #29
Do we need to make a webpage as a guide ?

[2021-01-17 10:35] arpansac commented on #114
Hey @muthuannamalai12
I think it's too early to create a PR template, more so because we already have templates for issues right now, let's see how that works

[2021-01-17 10:35] #114 closed, assigned to nobody

[2021-01-17 10:36] arpansac commented on #3
@IshetaBansal please update.

[2021-01-17 18:30] sakshikhachane commented on #22
@arpansac I would like to work on this issue. Is it available?

[2021-01-17 18:57] sakshikhachane commented on #72
@arpansac I would like to work on this issue. Please assign this to me.

[2021-01-18 04:09] arpansac commented on #22
@Sloth-Panda please update in case you are working on this

[2021-01-18 04:11] arpansac commented on #72
@sakshikhachane sure! Can you please once setup the code on your system and confirm? Also, if you can try and define the use cases as to when will the sidebar remain in the halfway state. Will assign you the issue post this.

[2021-01-18 04:13] arpansac commented on #3
@kanishkaa24 would you still want to work on this? If yes, please list the changes we'd need to do in the readme. For that you will have to setup the code on your system and see where all does a developer get stuck.

[2021-01-18 04:51] Sloth-Panda commented on #22
She can go ahead

[2021-01-18 04:56] arpansac commented on #22
Thanks for the clarity, wish you had updated earlier if you weren't interested

@sakshikhachane please setup the code on your system. Once done I'll assign this to you.

[2021-01-18 06:32] sakshikhachane commented on #22
@arpansac I am done with the setup and it's running on my system.

[2021-01-18 07:38] kanishkaa24 commented on #3
Definitely. I'll add images and gifs. If you need me to add any more things, I'm willing to do that too.

[2021-01-18 12:13] arpansac commented on #3
Cool, have you setup the code on your system?

[2021-01-18 12:53] Ashwin-op opened #116 "Update to Nebular 7"
## 🚀 Feature

Nebular 7.0.0 just released and let's update!

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/commudle/commudle-ng/blob/development/CONTRIBUTING.md)?

Yes

## Motivation

Nebular just got a new version (v7) and let's update our application as well

## Pitch

Things to do:

- Update to Nebular 7 (latest version)
- Test if there are any breaking cha

[2021-01-18 13:03] Ashwin-op opened #117 "Implement Nebular's Tag Component"
## 🚀 Feature

Right now, there is a separate self-written badge component. Since Nebular got an inbuilt tag component, we can update to using that.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/commudle/commudle-ng/blob/development/CONTRIBUTING.md)?

Yes

## Motivation

The motivation for this issue is that Nebular has got its own Tag component.

## Pitch

It

[2021-01-19 10:54] kanishkaa24 commented on #3
Do I need to setup the code?

[2021-01-19 10:57] arpansac commented on #3
Yup, setting it up will help understand the process and improve the readme steps where it lists how to setup the code with some screenshots :)

[2021-01-19 11:00] kanishkaa24 commented on #3
Do you need me to add contribution guidelines too?
What is the procedure for setting up the code?
Same in the README.md?

[2021-01-19 11:05] arpansac commented on #3
Contribution guidelines are already present, but if you think something
important can be improved/added, then sure!

Readme has it all.

On Tue, Jan 19, 2021 at 4:30 PM Kanishka Aggarwal <notifications@github.com>
wrote:

[2021-01-25 04:51] arpansac commented on #3
Hey @kanishkaa24 I've been super occupied with some launch. Will get on this tomorrow

[2021-01-26 16:52] Swastik1710 opened #120 "Contributors Images"
## 📚 Documentation

Adding Contributors image in the readme file .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/commudle/commudle-ng/blob/development/CONTRIBUTING.md)?

Yes , I've read the contributing guidelines .

[2021-01-26 16:53] Swastik1710 commented on #120
Hey , can I work on this issue ?

[2021-01-28 10:54] arpansac commented on #120
I think you missed the readme before the contribution guidelines. We already have this.

[2021-01-28 10:54] #120 closed, assigned to nobody

[2021-01-28 10:54] arpansac commented on #117
Actually that tag component has been intentionally created because Nebular's tag component gives very limited functionality :D

[2021-01-28 10:54] #117 closed, assigned to nobody

[2021-01-28 10:55] arpansac commented on #116
Sure, let's do this!

[2021-01-29 15:57] arpansac opened #121 "Open Lab images in a dialog"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/commudle/commudle-ng/blob/development/CONTRIBUTING.md)?

Yes

## Motivation

Was trying to learn from a lab but couldn't view the images in full screen.

## Pitch

Users should be able to view the images in a larger dimension

[2021-02-01 09:27] #93 closed, assigned to nobody

[2021-02-10 16:59] Dhriti-Roy commented on #3
Is this issue open. I would like to do it. kindly assign me for this issue.

[2021-02-10 17:00] Dhriti-Roy opened #130 "Contribution Table"
Adding a contribution table in README.md

[2021-02-10 17:01] Dhriti-Roy commented on #130
I would like to do it. kindly assign me for this issue.

[2021-02-12 13:07] #130 closed, assigned to nobody

[2021-02-15 05:05] arpansac commented on #121
closed with #127

[2021-02-15 05:05] #121 closed, assigned to violet360

[2021-02-15 05:19] arpansac opened #135 "Implement Ngrx or any other suitable data store"
## 🚀 Feature

We want to implement a data store to solve the purpose of client side caching (we could utilize other benefits of a store too, but right now the priority is to cache the data instead of repeated ajax requests)

## Motivation

We have a tonne of interfaces which define the data model structures, it's high time we start working storing this hierarchy on the front end

## Pitch

Will im

[2021-02-18 13:27] muthuannamalai12 opened #138 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
![auto assign](ht

[2021-02-18 13:27] muthuannamalai12 commented on #138
I would to work on it as a part of DWOC. Kindly assign it to me

[2021-02-18 17:08] arpansac opened #139 "Event Engagement Activities"
# Event Engagement Activities

Right now, Community Organizers can host both online and offline events on Commudle and engage with live audience using QnA (with upvotes), Chat and Polls. Take a look at this page: https://commudle.com/communities/gdg-new-delhi/events/developer-days-android-day-1/session

We want to work on some more interesting ideas to work upon so that we can make the attendees (

[2021-02-18 17:09] arpansac opened #140 "Certificates"
# Certificates

All the Developer Communities which are using Commudle for managing their activities are looking to give certificates to their members for the events they are attending and other contributions they make to the community. Also, experts who are writing tutorials want to give certificates.

We want to add a feature where we have some pre-built certificate templates and the users can u

[2021-02-18 17:10] arpansac opened #141 "WSIWYG Editor"
# WSIWYG Editor
We want to build a custom editor for Commudle where we can add emojis, images, hashtags, user tags and more things. It would be used in all places where textarea or input element is present. Example when you create a new Lab from https://commudle.com/labs or a new Build at https://commudle.com/builds

## How we will work

#### Proposal phase
* The student will browse through differ

[2021-02-19 05:00] arpansac commented on #138
Hi @muthuannamalai12 !
Thanks for citing this issue, in the current scenario we have very less PR's and won't be needing it. Please do find something more on the lines of developing the product and we'll be happy to brainstorm and start working on it.

[2021-02-19 05:00] #138 closed, assigned to nobody

[2021-02-19 05:03] muthuannamalai12 commented on #138
Ok. Thank you

[2021-02-22 05:18] #92 closed, assigned to violet360

[2021-04-15 21:28] BudhirajaChinmay opened #211 "Feed Service"
## 🚀 Feature

Create a frontend for feed service:
1. Display the most recent 3-4 latest feeds below the events section on the home page.
2. Add support for viewing more posts on a separate page.
3. Separate pages for each post containing detailed information like associated comments.

[2021-04-26 04:51] #211 closed, assigned to nobody

[2021-06-02 14:30] himanshi-gupta commented on #28
I have found some websites having social media widgets:-
1. [https://www.w3schools.com/](url)
2. [https://www.cheggindia.com/](url)
3. [http://www.ipu.ac.in/](url)
4. [http://du.ac.in/](url)
5. [https://zoom.us/](url)

[2021-06-03 04:40] arpansac commented on #28
Thanks @himanshi-gupta, can you please share some screenshots and links to the exact pages which have these widgets placed.

[2021-06-03 06:43] himanshi-gupta commented on #28
The links are as follows:-
1. https://www.w3schools.com/
2. https://www.cheggindia.com/
3. http://www.ipu.ac.in/
4. http://du.ac.in/
5. https://zoom.us/

Screenshots are as follows:-

![chegg](https://user-images.githubusercontent.com/27433437/120599393-14860300-c465-11eb-80f0-af8aec33bec0.png)
![w3school](https://user-images.githubusercontent.com/27433437/120599399-15b73000-c465-11eb-9365-b7c4ba0

[2021-06-11 13:38] arpansac commented on #116
Done already!

[2021-06-11 13:38] #116 closed, assigned to Ashwin-op

[2021-07-31 07:56] Daksh777 opened #322 "Make the `Preview` button sticky in lab editor/creator"
![image](https://user-images.githubusercontent.com/43648146/127728788-ba30b2e7-14d7-43dc-bbba-2de4f0208f6b.png)

**The problem:**
As I keep adding more content to the lab, previewing it becomes difficult because I have to keep scrolling up to preview it and then scroll back down to continue editing

**The solution:**
Make the `Preview` button stick to the top

[2021-07-31 07:57] Daksh777 opened #323 "Make the customization bar sticky in lab editor/creator"
**The problem:**
As I keep adding more content to a section, it becomes increasingly difficult for me to go up, select any text customizations like lists, text alignment, etc.

**The solution:**
Make the whole customization stick to the top for every section so it becomes to edit the content when writing in the lab editor.

[2021-08-02 05:14] arpansac commented on #323
Thanks for citing this @Daksh777
Would you like to take this one up?

[2021-08-02 05:14] arpansac commented on #322
Thanks again @Daksh777 for citing this! Would you like to take this one up too?

[2021-08-02 08:04] Daksh777 commented on #323
I would love to work on this problem and #322 myself but I have no knowledge of typescript.

[2021-08-02 11:09] arpansac commented on #323
Oh, that shouldn't be a problem, you can still give it a try! We're using TinyMCE here for the editor plugin.

[2021-08-02 12:05] Daksh777 commented on #323
Okay, I went through the documentation and found this:
https://www.tiny.cloud/docs/configure/editor-appearance/#toolbar_sticky
However, I can't seem to find any `tinymce.init` script.

Next, I searched for `toolbar_sticky` and found this:
![image](https://user-images.githubusercontent.com/43648146/127858978-ddff4160-fae3-44bb-b00e-d84d128a5f20.png)
It is already set to `true`.

Sorry, I'm not real

[2021-08-12 05:44] careerfinder4you commented on #28
https://www.biggbosstelugu.xyz/

☝️☝️ This Website Also Had Social Media Widgets

[2021-11-22 12:29] Pathtogrow commented on #28
Path to Grow is one of the best finance related blogging websites, which provides you with the latest blogs and updates related to Finance and wealth.

Our main Goal is to provide the best content to our readers which helps them to boost their wealth!
That’s why we provide the Right Path to Grow Your Wealth!
We provide blogs related to Share Market, How to make Money online, and How to get financi